{% extends 'base.html.twig' %}

{% block title %}New Geo{% endblock %}

{% block body %}
    <h1>Create new Geo</h1>

    {{ include('geo/_form.html.twig') }}

    <a href="{{ path('geo_index') }}">back to list</a>
{% endblock %}
